<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% include "components/schema.html" %}
    <link rel="stylesheet" href="/public/css/main.css">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Roboto:400,500,700&display=swap" rel="stylesheet">
    <meta name="description" content="Skytesters is the best testing solutions company which aims to enhance your software product quality. We provide innovative suite of services and solutions like QA strategy, software testing, robotic process automation, product engineering, agile testing, crowd testing, and end to end automation.">
    <meta name="keywords" content="Testing services, software testing, robotic process automation, crowdtesting, product engineering services, testing as a service, agile testing, quality assurance, crowd testing, end to end test automation, software quality assurance, best qa company, product engineer.">
</head>
<body>
    <header class="header ">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-inverse">
                        <a href="/" class="navbar-brand"><img src="/public/images/logo.png" alt="Skytesters" class="logo"></a>
                        <button class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navigation">
                            <span class="navbar__hamburger navbar__hamburger--1"></span>
                            <span class="navbar__hamburger navbar__hamburger--2"></span>
                            <span class="navbar__hamburger navbar__hamburger--3"></span>
                        </button>
                        
                        <div class="collapse navbar-collapse justify-content-end " id="navigation">
                            <ul class="navbar-nav ml-md-auto d-flex p-0 mb-0">
                                <li class="nav-item ">
                                    <a class="nav-link" href="/" data-hovermenu="Home">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="about" data-hovermenu="About">About</a>
                                </li>
                                <li class="nav-item">
                                    <span class="nav-plus"></span>
                                    <a href="javascript:void(0)" class="nav-link" data-hovermenu="Services">Services</a>
                                    <ul class="sub-menu">
                                        <li class="sub-menu-item">
                                            <a href="testing-services" class="sub-menu-link"><span>Testing Services</span></a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="quality-engineering" class="sub-menu-link">
                                                <span>Quality Engineering</span>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="specialized-testing" class="sub-menu-link">
                                                <span>Specialized Testing</span>
                                            </a>
                                        </li>
                                        <li class="sub-menu-item">
                                            <a href="test-advisory-and-transformation" class="sub-menu-link">
                                                <span>Test Advisory &amp; Transformation</span>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="products" data-hovermenu="Products">Products</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="industries" data-hovermenu="Industries">Industries</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="javascript:void(0)" data-hovermenu="Career" onclick="redirectFun('career')">Career</a>
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link" href="javascript:void(0)" data-hovermenu="Contact" onclick="redirectFun('contact')">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    {% block page_body %}
    
    {% endblock %}



    <!-- Global site tag (gtag.js) - Google Analytics
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158201214-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-158201214-1');
</script> -->

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-158201214-1"></script>
<script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments);}
gtag('js', new Date());

gtag('config', 'UA-158201214-1', { 'optimize_id': 'GTM-PKVC672'});
</script>
</body>
</html>